<!-- this views file manages presentation/view
# erb is a templating system that can combine html code and Ruby code -->

  <h1>My name is <%= %w(Amigo Oscar Viking).sample %></h1> <!-- we have refactored from ["Amigo", "Oscar", "Viking"].sample -->
  <div>
  <img style = 'border:2px; border-style:dashed; border-color:red' src = 'http://bit.ly/1eze8aE'>
  </div>
