<!-- this views file manages presentation/view
# erb is a templating system that can combine html code and Ruby code -->

  <h1>My name is <%= @name %></h1> 
  <div>
  <img style = 'border:2px; border-style:dashed; border-color:red' src = 'http://bit.ly/1eze8aE'>
  </div>
