<!-- this views file manages presentation/view
# erb is a templating system that can combine html code and Ruby code -->

  <% if @name %>
  <h1>My name is <%= @name %> </h1>
  <% end %>

  <form acton="/named-cat">
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>

  <div>
  <img style = 'border:2px; border-style:dashed; border-color:red' src = 'http://bit.ly/1eze8aE'>
  </div>
